main{
    
}
.hero-section{
    background-color: #1E1B3A;
    /* position: relative; */
}
.welcome-section{
    display: flex;
    align-items: center;
    justify-content:center;
}
.left-hero{
    height: 100vh;
}
.left-hero h1{
    font-size: 30px;
    font-weight: 600;
}

.right-hero{
}
.main-globe{
    position: relative;  
}
.main-globe img{
    background-size: cover cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -60px;
    right: -150px;
    
}
.space-man{
    
    
}
.space-man img{
    background-size: cover cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 100px;
    right: 150px;
}