.search-space a{
    color: #fff;
}
.search-space p{
    color: #ABABAB;

}
select{
    background-color:transparent;
    border:none;
    margin-left: .7rem;
    outline: none;
}
select.active{
    color: #fff;
}
.search-space{
    background: #1E1B3A;
    color: #fff;
    font-family: 'Inter', sans-serif;
}
.search-container{
    margin: 3.5rem .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: #2D2853;
    border-radius: .3rem;
}
.row{
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.search-bar{
    display: flex;
    align-items: center;
}
.search-bar::after{
    content: '';
    border-right: 2px solid #DADADA;
    opacity: 0.4;
    display: block;
    height: 30px;
    margin-left: .7rem;
}
.search-bar p{
    margin-top: .9rem;
}
.search-bar li{
    list-style: none;
}

.launch-year{
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}
.launch-year p{
    margin-top: .9rem;
}
.launch-year li{
    list-style: none;
}
.search-input input{
    background-color:transparent;
    border: 1px solid #DADADA;
    padding: .5rem 0;
    outline: 0;
}
.search-input button{
    padding: .5rem 1rem;
    border: 1px solid #6F6C83;
    background-color: #0E0D22;
    color: #fff;
    transition: all ease-in .2s;
}
.search-input button:hover{
    border: 1px solid #0E0D22;
    background-color: #fff;
    color: #000;
}
.search-input input::placeholder {
    padding: .4rem .8rem;
    color: #DADADA;
  }
.rocket-details{
    background-color: #1D0C41;
    padding: 1rem;
    height: 320px;
    width: 260px;
    max-width: 100%;
    margin: .5rem 0;
}
.rocket-details h3{
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    margin: 1rem 0;
    font-size: 20px;
}
.rocket-details p{
    line-height: 18px;
}
.rocket-details img{
    width: 120px;
    height: 100px;
    margin: .7rem 0;
}
ul{
    margin: 1rem;
}
.search-space ul li{ 
    list-style: none;
}
.search-space ul li button{
    background-color:transparent;
    border: none;
    color: #3f377a;
    padding: .5rem .9rem;
}
.search-space ul li button:focus{
        color: #fff;
}

  .pagination > li > a{
    padding: .5rem;
    outline: none;
    cursor: pointer;
  }